# Dependencies
node_modules
.pnp.js
.pnp.cjs
.yarn/cache
.yarn/unplugged
.yarn/patches
.yarn/plugins
.yarn/releases
.yarn-integrity

# Environment
.env
.env.*
!.env.example

# Expo / React Native build artifacts
.expo
.expo-shared
.expo-state.json
dist
build
out
web-build
.web
.metro
.metro-tmp
.react-native
.rncache
*.ts